<% unless cart.line_items.empty? %>
<div class="widget-title clearfix"><h4 class="tag-title"><%= t('.title') %></h4></div>
<table>
	 <%= render(cart.line_items) %>
     <tr class="total_line">
         <td colspan="2">Всего</td>
		 <td class="total_cell"><%= number_to_currency(cart.total_price) %></td> </tr>
</table>
<%= button_to t('.checkout'), new_order_path, method: :get, class: "button2" %>
<%= button_to t('.empty'), cart, method: :delete,
     confirm: 'Вы уверены?', class: "button2" %>
<% end %>