<% if notice %>
<div class="msg success"><p<%= notice %></p></div>
 <% end %>



<!-- BEGIN .col-main -->
<li class="col-main">
<h2 class="page-title">
  <%= @category.name %> 
  <% if session[:user_id] %>
  <%= link_to 'Edit', edit_category_path(@category) %>
  <% end %>
</h2>
	<ul class="columns-3 clearfix product-list">
		<% @products.each do |product| %>
			<li class="col3">
				<%= image_tag(product.photo.url(:big), :class => "full-image product-image") %>
				<p class="product-title"><%= link_to product.title, store_show_path(product_id: product)%></p>
				<p class="product-price"><%= number_to_currency(product.price)%></p>
				<div class="product-button clearfix"><%= button_to "В корзину", line_items_path(product_id: product), class: "button2", remote: true %></div>
			</li>
		<% end %>
	</ul>
</li>
<!-- END .col-main -->
