<p id="notice"><%= notice %></p>

<h2><%= @product.title %></h2>
<%= image_tag @product.photo.url(:big) %>
<%= simple_format h(@product.description) %>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
