<% if notice %>
<div class="msg success"><p<%= notice %></p></div>
 <% end %>
<!-- BEGIN .col-main -->
<li class="col-main">
	<h2 class="page-title"><%= t('.title_html') %></h2>

		<ul class="columns-3 clearfix product-list">
		<% @products.each do |product| %>
			<li class="col3">
				<%= image_tag(product.photo.url(:big), :class => "full-image product-image") %>
				<p class="product-title"><%= link_to product.title, store_show_path(product_id: product)%></p>
				<p class="product-price"><%= number_to_currency(product.price)%></p>
				<div class="product-button clearfix"><%= button_to t('.add_html'), line_items_path(product_id: product), class: "button2", remote: true %></div>
			</li>
		<% end %>
		</ul>
</li>
<!-- END .col-main -->

<% content_for :sidebar do %>
	<!-- BEGIN .col-sidebar -->
	<li class="col-sidebar">

		<div class="widget">
			<div id="cart">
			<% if @cart %>
				<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
				 <%= render @cart %>
				<% end %>
			<% end %>
			</div>
		</div>	
		
		
		<div class="widget">
			<div class="widget-title clearfix"><h4 class="tag-title">Categories</h4></div>
			<ul>
				<% Category.all.each do |cat| %>
					<li><%= link_to cat.name, cat %></a></li>
				<% end %>
			</ul>
		</div>
		
	<!-- END .col-sidebar -->
	</li>
<% end %>