<% if notice %>
 <p id="notice"><%= notice %></p>
 <% end %>
<!-- BEGIN .col-main -->
<li class="col-main">
	<h2 class="page-title"><%= t('.title_html') %></h2>

		<ul class="columns-3 clearfix product-list">
		<% @products.each do |product| %>
			<li class="col3">
				<%= link_to image_tag(product.photo.url(:small), :class => "full-image product-image"), product %>
				<p class="product-title"><%= link_to product.title, product%></p>
				<p class="product-price"><%= number_to_currency(product.price)%></p>
				<div class="product-button clearfix"><%= button_to t('.add_html'), line_items_path(product_id: product), class: "button2", remote: true %></div>
			</li>
		<% end %>
		</ul>
</li>
<!-- END .col-main -->

<% content_for :sidebar do %>
	<!-- BEGIN .col-sidebar -->
	<li class="col-sidebar">

		<div class="widget">
			<% if @cart %>
				<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
				 <%= render @cart %>
				<% end %>
			<% end %>
		</div>	
		
		
		<div class="widget">
			<div class="widget-title clearfix"><h4 class="tag-title">Categories</h4></div>
			<ul>
				<li><a href="/">Skin Care</a></li>
				<li><a href="/">Bath &amp; Body Care</a></li>
				<li><a href="/">Fragrance</a></li>
				<li><a href="/">Make-Up</a></li>
				<li><a href="/">Hair</a></li>
				<li><a href="/">Moisturisers</a></li>
			</ul>
		</div>
		
	<!-- END .col-sidebar -->
	</li>
<% end %>