<% if notice %>
<div class="msg success"><p<%= notice %></p></div>
 <% end %>
<!-- BEGIN .col-main -->
<li class="col-main">
	<% @categories.each do |cat| %>
	<h2 class="page-title"><%= cat.name %> <%= link_to "показать все>>", cat %></h2>

		<ul class="columns-3 clearfix product-list">
		<% cat.products.each do |product| %>
			<li class="col3">
				<%= image_tag(product.photo.url(:small), :class => "full-image product-image") %>
				<p class="product-title"><%= link_to product.title, store_show_path(product_id: product)%></p>
				<p class="product-price"><%= number_to_currency(product.price)%></p>
				<div class="product-button clearfix"><%= button_to t('.add_html'), line_items_path(product_id: product), class: "button2", remote: true %></div>
			</li>
		<% end %>
		</ul>
	<% end %>
</li>
<!-- END .col-main -->