<p id="notice"><%= notice %></p>

<!-- BEGIN .col-main -->
	<li class="col-main">				
		<h2 class="page-title"><%= @product.title %></h2>

		<ul class="columns-2 product-single-content clearfix">
			<li class="col2 clearfix">
				<!-- BEGIN .slider -->
				<div class="slider-single slide-loader-single clearfix">
					<ul class="slides">
						
						<li>
							<%= image_tag @product.photo.url(:big) %>
						</li>
						<li>
							<%= image_tag @product.photo.url(:big) %>
						</li>
						<li>
							<%= image_tag @product.photo.url(:big) %>
						</li>
					</ul>
				<!-- END .slider -->
				</div>
				
			</li>
			<li class="col2 clearfix">
				
				<h2>
					<span class="price-original"><%= @product.price + @product.price*0.1   %></span>
					<span class="price-now"><%= number_to_currency(@product.price) %></span>
					
				</h2>
				
				<p><%= simple_format h(@product.description) %></p>
				
					<%= button_to t('.add_html'), line_items_path(product_id: @product), class: "button3 fr", remote: true %>						

				
			</li>
		
		</ul>
		
		<div id="tabs">
			<ul class="nav clearfix">
				<li><a href="#tabs-tab-title-1" onclick="return false;">Описание</a></li>
				<li><a href="#tabs-tab-title-2" onclick="return false;">Технические детали</a></li>
				<li><a href="#tabs-tab-title-3" onclick="return false;">Доставка</a></li>
			</ul>
			<div id="tabs-tab-title-1"><%= simple_format h(@product.description) %></div>
			<div id="tabs-tab-title-2"><%= simple_format h(@product.description) %></div>
			<div id="tabs-tab-title-3"><%= simple_format h(@product.description) %></div>
		</div>
				
				<!-- END .col-main -->
				</li>
<% content_for :sidebar do %>
	<!-- BEGIN .col-sidebar -->
	<li class="col-sidebar">

		<div class="widget">
			<div id="cart">
			<% if @cart %>
				
				 <%= render @cart %>
				
			<% end %>
			</div>
		</div>	
		
		
		<div class="widget">
			<div class="widget-title clearfix"><h4 class="tag-title">Категории</h4></div>
			<ul>
				<% Category.all.each do |cat| %>
					<li><%= link_to cat.name, cat %></a></li>
				<% end %>
			</ul>
		</div>
		
	<!-- END .col-sidebar -->
	</li>
<% end %>