<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to Foundation | Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div class="row">
	    <div class="large-12 columns">
	
		    <!-- Navigation -->

		      <div class="row">
		        <div class="large-12 columns">

		          <nav class="top-bar">
		            <ul class="title-area">
		              <!-- Title Area -->
		              <li class="name">
		                <h1>
		                  <a href="#">
		                    Top Bar Title
		                  </a>
		                </h1>
		              </li>
		              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
		            </ul>
         
		            <section class="top-bar-section">
		              <!-- Right Nav Section -->
		              <ul class="right">
		                <li class="divider"></li>
		                <li class="has-dropdown">
		                  <a href="#">Main Item 1</a>
		                  <ul class="dropdown">
		                    <li><label>Section Name</label></li>
		                    <li class="has-dropdown">
		                      <a href="#" class="">Has Dropdown, Level 1</a>
		                      <ul class="dropdown">
		                        <li><a href="#">Dropdown Options</a></li>
		                        <li><a href="#">Dropdown Options</a></li>
		                        <li><a href="#">Level 2</a></li>
		                        <li><a href="#">Subdropdown Option</a></li>
		                        <li><a href="#">Subdropdown Option</a></li>
		                        <li><a href="#">Subdropdown Option</a></li>
		                      </ul>
		                    </li>
		                    <li><a href="#">Dropdown Option</a></li>
		                    <li><a href="#">Dropdown Option</a></li>
		                    <li class="divider"></li>
		                    <li><label>Section Name</label></li>
		                    <li><a href="#">Dropdown Option</a></li>
		                    <li><a href="#">Dropdown Option</a></li>
		                    <li><a href="#">Dropdown Option</a></li>
		                    <li class="divider"></li>
		                    <li><a href="#">See all &rarr;</a></li>
		                  </ul>
		                </li>
		                <li class="divider"></li>
		                <li><a href="#">Main Item 2</a></li>
		                <li class="divider"></li>
		                <li class="has-dropdown">
		                  <a href="#">Main Item 3</a>
		                  <ul class="dropdown">
		                    <li><a href="#">Dropdown Option</a></li>
		                    <li><a href="#">Dropdown Option</a></li>
		                    <li><a href="#">Dropdown Option</a></li>
		                    <li class="divider"></li>
		                    <li><a href="#">See all &rarr;</a></li>
		                  </ul>
		                </li>
		              </ul>
		            </section>
		          </nav>
		          <!-- End Top Bar -->
		        </div>
		      </div>

		    <!-- End Navigation -->
	
		    <!-- Side Bar -->

		          <div class="large-4 columns">

  		            <a href="#">
  		            <div class="panel callout radius">
  		              <h6>Ваша корзина</h6>
  		            </div>
  		            </a>
					
		            <div class="hide-for-small panel">
						<div id="cart">
							<% if @cart %>
							<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
						     <%= render @cart %>
							 <% end %>
						<% end %>
						</div>

			 		   <% if session[:user_id] %>
			 		               <ul>
			 		                   <li><%= link_to 'Orders', orders_path %></li>
			 		                   <li><%= link_to 'Products', products_path %></li>
			 		                   <li><%= link_to 'Users', users_path %></li>
			 		   </ul>
			 		               <%= button_to 'Logout', logout_path, method: :delete %>
			 		           <% end %>
		            </div>


		          </div>

		      <!-- End Side Bar -->


		   <div id="main">
<%= yield %>
</div>
</div>

</body>
</html>
