<!DOCTYPE html>
<html class="no-js" lang="ru-RU" dir="ltr" > 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= t('.title') %></title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>
  
  <!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="selectivizr-min.js"></script>
	<![endif]-->
  <%= csrf_meta_tags %>

</head>
<body class='<%= controller.controller_name %>'>
	<!-- BEGIN .wrapper -->
	<div class="wrapper">
		
		<!-- BEGIN .topbar -->
		<div class="topbar clearfix">
		
		<!-- BEGIN .social-icons -->
			<ul class="social-icons">
				<li><a href="/"><span id="twitter_icon"></span></a></li>
				<li><a href="/"><span id="facebook_icon"></span></a></li>
				<li><a href="/"><span id="googleplus_icon"></span></a></li>
				<li><a href="/"><span id="skype_icon"></span></a></li>
				<li><a href="/"><span id="flickr_icon"></span></a></li>
				<li><a href="/"><span id="linkedin_icon"></span></a></li>
				<li><a href="/"><span id="vimeo_icon"></span></a></li>
				<li><a href="/"><span id="youtube_icon"></span></a></li>
				<li><a href="/"><span id="rss_icon"></span></a></li>
			</ul>
		<!-- END .social-icons -->
		
		</div>
	<!-- END .topbar -->
	
		<!-- BEGIN #site-title -->
		<div id="site-title">
			<a href="/">
				<h1>Магазин <span>наручных</span> часов</h1>
			</a>
		</div>
		<!-- END #site-title -->

		<!-- BEGIN .main-menu-wrapper -->
		<div id="main-menu-wrapper" class="clearfix">
			
			<ul id="main-menu" class="fl sf-js-enabled">
				<li><a href="/">Каталог<br />продукции</a></li>
				<% if session[:user_id] %>
					<li><%= link_to "Продукты", products_path %></li>
					<li><%= link_to "Категории", categories_path %></li>
					<li><%= link_to "Заказы", orders_path %></a></li>
				<% end %>
			</ul>
		</div>
		<!-- END .main-menu-wrapper -->	
	<!-- BEGIN .section -->
	<div class="section">
			
		<ul class="columns-content page-content testimonial-full clearfix">
			<% flash.each do |key, msg| %>
				<%= content_tag :div, msg, :id => key %>
			<% end %>
			
			
			
			<%= yield %>
			<%= yield :sidebar %>
		</ul>
	<!-- END .section -->
	</div>
		<!-- BEGIN #footer -->
		<div id="footer">
			
			<ul class="columns-4 clearfix">
				<li class="col4">
					
					<!-- BEGIN .widget -->
					<div class="widget">
						<div class="widget-title clearfix">
							<h6>Контактная информация</h6>
						</div>
						
						<ul>
							<li class="contact-phone">+7(987)235-70-23</li>
							<li class="contact-mail">kalinon7@gmail.com</li>
						</ul>
						
					<!-- END .widget -->
					</div>
					
				</li>
			</ul>
		
		<!-- END #footer -->
		</div>
		
		<div id="footer-bottom" class="clearfix">
			
			<div class="fl">
				
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">Terms &amp; Conditions</a></li>
					<li><a href="/">Return Policy</a></li>
					<li><a href="/">Contact Us</a></li>
				</ul>
				
				<p>© Copyright 2013</p>
				
			</div>
			
			<div class="fr">
			<%= image_tag "payment-methods.png" %>
			</div>
			
		</div>
	
	<!-- END .wrapper -->
	</div>
</body>
</html>
