<!DOCTYPE html>
<html class="no-js" lang="ru-RU" dir="ltr" > 
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= t('.title') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="selectivizr-min.js"></script>
	<![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<!-- BEGIN .wrapper -->
	<div class="wrapper">
		
		<!-- BEGIN .topbar -->
		<div class="topbar clearfix">
		
		<!-- BEGIN .social-icons -->
			<ul class="social-icons">
				<li><a href="/"><span id="twitter_icon"></span></a></li>
				<li><a href="/"><span id="facebook_icon"></span></a></li>
				<li><a href="/"><span id="googleplus_icon"></span></a></li>
				<li><a href="/"><span id="skype_icon"></span></a></li>
				<li><a href="/"><span id="flickr_icon"></span></a></li>
				<li><a href="/"><span id="linkedin_icon"></span></a></li>
				<li><a href="/"><span id="vimeo_icon"></span></a></li>
				<li><a href="/"><span id="youtube_icon"></span></a></li>
				<li><a href="/"><span id="rss_icon"></span></a></li>
			</ul>
		<!-- END .social-icons -->
		
		<!-- BEGIN .topbar-right -->
			<div class="topbar-right clearfix">
				
				<ul class="clearfix">
					<li class="checkout-icon"><a href="/checkout.html">Checkout</a></li>
					<li class="myaccount-icon"><a href="/my-account.html">My Account</a></li>
				</ul>

			</div>
		<!-- END .topbar-right -->
	<!-- END .topbar -->
	</div>
		<!-- BEGIN #site-title -->
		<div id="site-title">
			<a href="/">
				<h1>Магазин <span>наручных</span> часов</h1>
			</a>
		</div>
		<!-- END #site-title -->

		<!-- BEGIN .main-menu-wrapper -->
		<div id="main-menu-wrapper" class="clearfix">
			
			<ul id="main-menu" class="fl sf-js-enabled">
				<li><a href="/">Каталог<br />продукции</a></li>
				<!--<li class="current_page_item"><a href="/" class="sf-with-ul">Каталог продукции<span class="sf-sub-indicator"> »</span></a>
					<ul style="display: none; visibility: hidden;">
						<li><a href="/product-single.html">Cleansers</a></li>
						<li><a href="/product-single.html">Exfoliators &amp; Masks</a></li>
						<li><a href="/product-single.html">Toners</a></li>
						<li><a href="/product-single.html" class="sf-with-ul">Moisturisers<span class="sf-sub-indicator"> »</span></a>
							<ul style="display: none; visibility: hidden;">
								<li><a href="/product-single.html">Hands</a></li>
								<li><a href="/product-single.html">Face</a></li>
							</ul>
						</li>
					</ul>
				</li>-->
				<li><a href="/blog">Блог</a></li>
				<li><a href="/testimonials">Отзывы</a></li>
				<li><a href="/contact.html">Контактная<br /> информация</a></li>	
			</ul>
		<!-- END .main-menu-wrapper -->	

		<select><option selected="selected" value="">Go to...</option><option value="index.html">Home</option><option value="products.html">Products »</option><option value="product-single.html">Cleansers</option><option value="product-single.html">Exfoliators &amp; Masks</option><option value="product-single.html">Toners</option><option value="product-single.html">Moisturisers »</option><option value="product-single.html">Hands</option><option value="product-single.html">Face</option><option value="blog.html">Blog</option><option value="testimonials.html">Testimonials</option><option value="typography.html">About »</option><option value="typography.html">Typography</option><option value="js-elements.html">JS Elements</option><option value="contact.html">Contact</option></select></div>
	<!-- BEGIN .section -->
	<div class="section">
			
		<ul class="columns-content page-content testimonial-full clearfix">
			<%= yield %>
			<%= yield :sidebar %>
		</ul>
	<!-- END .section -->
	</div>
		<!-- BEGIN #footer -->
		<div id="footer">
			
			<ul class="columns-4 clearfix">
				<li class="col4">
					
					<!-- BEGIN .widget -->
					<div class="widget">
						<div class="widget-title clearfix">
							<h6>Customer Services</h6>
						</div>
						
						<ul>
							<li class="contact-phone">+44 0123456789</li>
							<li class="contact-mail">mail [at] website [dot] com</li>
						</ul>
						
					<!-- END .widget -->
					</div>
					
				</li>
			</ul>
		
		<!-- END #footer -->
		</div>
		
		<div id="footer-bottom" class="clearfix">
			
			<div class="fl">
				
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">Terms &amp; Conditions</a></li>
					<li><a href="/">Return Policy</a></li>
					<li><a href="/">Contact Us</a></li>
				</ul>
				
				<p>© Copyright 2013</p>
				
			</div>
			
			<div class="fr">
				<img src="payment-methods.png" alt="Payment Methods">
			</div>
			
		</div>
	
	<!-- END .wrapper -->
	</div>
</body>
</html>
